node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
FONTS
attached_assets
*.zip
*.ttf
*.otf
*.woff
*.woff2
*.3mf
*.stl
*.gcode
*.pdf
*.png
*.jpg
*.jpeg
Quantum-Oracle-Test
Quantum_Oracle-main
ollama-main
ollama-models
LTX-Video-main
nano-claw-main
openclaw-main
obsidian
fraymus
.local
Goat*
*.obj